* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #1d1d1d;
    color: white;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: rgb(88, 88, 88);
    padding: 1rem 1rem;
    border-radius: 2px;
    min-width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 22px;
}